.info{
    font-size: .9rem;
    color: #565656;
}

.bold{
    font-weight: bold;
}

h3, h4, h5{
    margin-bottom:0.2rem;
}

body{background-color: #191b1c;
    color: #e1deb1;
    margin-bottom:5rem;
}

a{
    color: darkblue;
}