h3, h4, h5{
    margin-bottom:0.2rem;
}

body{background-color: #191b1c;
    color: #e1deb1;
    margin-bottom:5rem;
    margin:0 2rem 5rem;
}

a{
    color: #224fd0;
}

p{
    margin:0;
}

.orange{
    color: #e96900;
}

.green{
    color: #42b983;
}

.active{
    color: greenyellow;
    font-weight:bold;
}
.text-danger{
    color: red;
}

.info{
    font-size: .9rem;
    color: #565656;
}

.bold{
    font-weight: bold;
}

.italic{
    font-style: italic;
}

.noBtmMargin{
    margin-bottom: 0.1rem;
}

