<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>

<h1>Vue JS</h1>

<div id="app">
    {{message}}
</div>

<div id="app-2">
  <span v-bind:title="message">
    Hover your mouse over me for a few seconds to see my dynamically bound title!
  </span>
</div>

<div id="app-3">
    <p v-if="seen">Now you see me</p>
    <p v-else="seen">now you dont</p>
</div>

<div id="app-4">
    <ol>
        <li v-for="todo in todos">
            {{ todo.text }}
        </li>
    </ol>
</div>


<div id="app-5">
    <p>{{ message }}</p>
    <button v-on:click="reverseMessage">Reverse Message</button>
</div>

<div id="app-6">
    <p>{{ message }}</p>
    <input v-model="message">
</div>

<div id="app-7">
    <ol>
        <!-- Now we provide each todo-item with the todo object    -->
        <!-- it's representing, so that its content can be dynamic -->
        <todo-item v-for="item in groceryList" v-bind:todo="item"></todo-item>
    </ol>
</div>



<div id="apptest">
    <app-test></app-test>
</div>

<hr>
<h2>Instances and <a href="https://vuejs.org/images/lifecycle.png"> lifecycles</a></h2>
<p id="example">{{a}}</p>

<hr>
<h2>Syntax</h2>
<h3>Interpolation:</h3>

<h4>text:</h4>
<div id="syntax-1">
    <span>Message: ({{msg}}) - Change text in console 'syn1.msg' </span>
    <!--make all property static-->
    <p v-once>This message can never be change: ({{staticMsg}}) - 'syn1.staticMsg' </p>
</div>

<h4>Raw HTML:</h4>
<div id="syntax-2">
    <p>message: {{msg}}</p>
    <!--insert raw html-->
    <p v-html="rawHtml">{{rawHtml}}</p>

</div>

<h4>dynamic attribute (id)</h4>
<div class="attrib" v-bind:id="dynamicId">
    <p>{{att}}</p>
</div>

<h4>expressional data (ONLY SINGLE EXPRESSION)</h4>
<div id="syntax-3">
    <p>{{ok ? 'yes' : 'no' }}</p>
</div>

<h3>Directive</h3>
<span class="info">Directives are special attributes with the v- prefix. Directive attribute values are expected to be a single JavaScript expression (with the exception for v-for, which will be discussed later). A directive’s job is to reactively apply side effects to the DOM when the value of its expression changes.</span>

<hr>

<script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="js/core.js"></script>
<script src="js/instances.js"></script>
<script src="js/syntax.js"></script>
</body>
</html>